<!DOCTYPE html>
<html lang="en" xmlns:align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>buytool</title>
    <h1 style = "color: green" align="center">Community Tool Sharing</h1>

</head>
<br><br><br>
<body style="background-color:lightyellow"  >
<form action="@routes.Website.payeeinfo()" method="post" align="left" >
    <label style="font-size:90%" >Owner of the Tool : </label><br><br>
    <label>Description : </label><br><br>
    <label>Price : </label><br><br>
    <label>Brand : </label><br><br>
    <label>Model No. :</label><br><br>
    <label>Condition of the Tool :</label><br><br>
    <label>Year : </label><br><br>
    <label>Tool ID : </label><br><br>
    Quantity : <input type ="text" name="qty" style="font-size:50%"><br><br>

    <button style="font-size:90%">BUY</button>
</form>



</body>
</html>