@(tools: List[Tool])

@main("Tools") {

<h3 align="center">Tool Description</h3>

<body style="background-color:lightyellow">
<form action="@routes.Website.create()" method="post" align="center">

    Tool Name : <input type = "text" name="toolname" style="font-size:90%" >
    <br><br>
    Owner : <input type = "text" name="owner" style="font-size:90%" >
    <br><br>
    Description : <input type = "text" name="desc" style="font-size:90%" >
    <br><br>
    Category :<select name="tooltype" id="ttype"  >

    <option value="id1">Hand Tools</option>
    <option value="id2">Power Tools</option>
    </select><!--<input type = "text" name="toolname" style="font-size:90%" >-->
    <br><br>

    <br><br>
    <button>Upload new tool</button>



</form>
</body>

}