<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        html, body {
        background:lightyellow;
        }
    </style>
</head>
<body>
<h2><center><b>Login Page</b></center></h2>

<form action="@routes.Users.login()" method="post">
    <center>
        <br>
        <div class="form-group" style="center">
            <label for="username" class="control-label"><b>Username</b></label>
            <div class="control-label">

                <input type="text" id="username" name="username">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="password" class="control-label"><b>Password</b></label>
            <div class="control-label">

                <input type="password" id="password" name="password">
            </div>
        </div>



        <br>

        <button type="submit" class="btn" style="font-size:90%; width:30 px; height:50px"><b>Submit</b></button>


    </center>
</form>
</body>
</html>