<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payee Information</title>
</head>
<body style="background-color:lightyellow">
<h1 style="color:green"><center>Borrower's Details</center></h1>
<br>

@if(flash.containsKey("error")){
<center>
    <div class="alert alert-danger">
        @flash.get("error")
    </div>
</center>
}
<p></p>
<form action="@routes.Tools.borrower()" style="font-size:100%" method="post">
    <center>
        <div class="form-group">
            <label for="firstname" class="control-label"><b>First Name *</b></label>
            <div class="control-label">

                <input type="text" id="firstName" name="firstname">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="lastname" class="control-label"><b>Last Name *</b></label>
            <div class="control-label">

                <input type="text" id="lastName" name="lastname">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="address" class="control-label"><b>Address *</b></label>
            <div class="control-label">

                <input type="text" id="address" name="address">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="city" class="control-label"><b>City *</b></label>
            <div class="control-label">

                <input type="text" id="city" name="city">
            </div>
        </div>

        <br>

        <!--<div class="form-group">
            <label for="state" class="control-label">State</label>
            <div class="control-label">
                <input type="text" id="state" name="state">
            </div>
        </div>
        <br>-->

        <div class="form-group">
            <label for="zipcode" class="control-label"><b>Zip Code *</b></label>
            <div class="control-label">

                <input type="text" id="zipcode" name="zipcode">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="email" class="control-label"><b>Email * </b></label>
            <div class="control-label">

                <input type="email" id="email" name="email">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="phone" class="control-label"><b>Phone Number *</b></label>
            <div class="control-label">
                <input type="tel" id="phone" name="phone">
            </div>
        </div>

        <br><br>
        <button type="submit" class="btn" style="font-size:12px; width:10%; height:10%"><b>Submit</b></button>

    </center>
</form>
</body>

</html>