<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        html, body {
        background:lightyellow;
        }
        h2
        {
        color:blue;
        }
    </style>
</head>
<body>
<h2><center><b>Registration form</b></center></h2>

<form action="@routes.Users.register()" method ="post">
    <center>
        <br>
        <div class="form-group" style="center">
            <label for="username" class="control-label"><b>Username</b></label>
            <div class="control-label">

                <input type="text" id="username" name="username">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="password" class="control-label"><b>Password</b></label>
            <div class="control-label">

                <input type="password" id="password" name="password">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="firstname" class="control-label"><b>First Name</b></label>
            <div class="control-label">

                <input type="text" id="firstName" name="firstname">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="lastname" class="control-label"><b>Last Name</b></label>
            <div class="control-label">

                <input type="text" id="lastName" name="lastname">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="email" class="control-label"><b>Email</b></label>
            <div class="control-label">

                <input type="email" id="email" name="email">
            </div>
        </div>


        <br>

        <div class="form-group">
            <label for="address" class="control-label"><b>Address</b></label>
            <div class="control-label">
                <input type="text" id="address" name="address">
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="phone" class="control-label"><b>Phone Number</b></label>
            <div class="control-label">
                <input type="tel" id="phone" name="phone">
            </div>
        </div>

        <br>

        <button type="submit" class="btn" style="font-size:90%; width:30 px; height:50px"><b>Submit</b></button>


    </center>
</form>
</body>
</html>