@(tool: List[Tool])

@main("Toollist") {

<h1 align="center">Community Tool Sharing</h1>
<body style="background-color: lightyellow">
<form action="@routes.Website.gtools()" method="get"  ><br><br><br><br><br>
    <select style="font-size:90%" name="categories">
        <option value="id0" selected="selected">Search by category</option>
        <option value="id1">Hand Tools</option>
        <option value="id2">Power Tools</option>


    </select>
    <button>Search</button>




</form>

@if(tool.isEmpty()) {
    <h2>No tools available</h2>
}else{
    <h2>List of tools available</h2>
    <ul>
        @for(t <- tool){

            <li>@t.name</li>

        }
    </ul>
}
}

