@(tool: List[Tool])

@main("Toollist") {

<h1 align="center"  style="color:green">ToolShare</h1>
<body style="background-color: lightyellow">
<h3><a href="@routes.Website.index()">Click here to upload a new tool</a></h3>
<h3><a href="@routes.Website.welcome()">Logout</a></h3>

<form action="@routes.Search.search()" method="post"  ><br><br><br>
       <select style="font-size:90%" name="categories">
        <option value="id0" selected="selected">Search by category</option>
        <option value="hand tools">Hand Tools</option>
        <option value="power tools">Power Tools</option>


    </select>
 <!--   <select name="t_category" id="tool">
        <option value="id0" selected="selected">Search by category</option>
        @for(t <- tool){
            <option value="@t.category">@t.name</option>

        }-->



    </select>

    <button>Search</button>




</form>

@if(tool.isEmpty()) {
<h3>No tools available</h3>
}else{
<h3>List of tools available</h3>
<ul>
    @for(t <- tool){

    <li><a href="@routes.Website.buy(t.id)">@t.name</a></li>

    }
</ul>
}
</body>
}
